*{
    margin:0;
    padding:0;
 }
 body{
   background:#212f3c;   
 }
 .container1 img{
    width:auto;
    height:250px;
    margin-top:40px;
    margin-left:530px;
    border-radius:50%;
    /* background:#212f3c; */
 }
 .container1{
    width: auto;
    height:600px;
    /* border:2px solid black; */
    background:#212f3c;
 }
 #logo{
    width:auto;
    height:250px;
    margin-top:40px;
    margin-left:500px;
    border-radius:50%;
 }
 .container2{
    width: auto;
    height:600px;
    /* border:2px solid black; */
    background:#212f3c;
    margin-top:30px;

 }
 .container2 h1{
    font-size:50px;
    font-family:'khand semibold';
    margin-left:350px;
    color:#e67e22;
 }
 .container2 h4{
   font-size:30px;
    font-family:'khand semibold';
    margin-left:30px;
    justify-content: center;
    text-align: center;
    color:#abebc6;
 }
 .container2 p{
   font-size:20px;
    font-family:'khand semibold';
    margin-left:30px;
    justify-content: center;
    text-align: center;
    color:#fff;
    margin-top:20px;
 }
 @media screen  and (max-width:600px)
 {
   .container1 img{
      width:auto;
      height:100px;
      margin-top:30px;
      margin-left:135px;
      border-radius:50%;
      /* background:#212f3c; */
   }
   .container1{
      width: auto;
      height:600px;
      /* border:2px solid black; */
      background:#212f3c;
   }
   #logo{
      width:auto;
      height:100px;
      margin-top:10px;
      margin-left:130px;
      border-radius:50%;
   }
   .container2{
      width: auto;
      height:600px;
      /* border:2px solid black; */
      background:#212f3c;
      margin-top:-340px;
  
   }
   .container2 h1{
      font-size:18px;
      font-family:'khand semibold';
      margin-left:80px;
      color:#e67e22;
   }
   .container2 h4{
     font-size:15px;
      font-family:'khand semibold';
      margin-left:3px;
      justify-content: center;
      text-align: center;
      color:#abebc6;
   }
   .container2 p{
     font-size:12px;
      font-family:'khand semibold';
      margin-left:3px;
      justify-content: center;
      text-align: center;
      color:#fff;
      margin-top:2px;

 }
}